@font-face {
    font-family: "Montserrat" ;
    src: url("fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat" ;
    src: url("fonts/Montserrat-regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat" ;
    src: url("fonts/Montserrat-bold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat" ;
    src: url("fonts/Montserrat-extrabold.ttf") format("truetype");
    font-weight: 700;
}


@font-face {
    font-family: "Montserrat" ;
    src: url("fonts/Montserrat-black.ttf") format("truetype");
    font-weight: 900;
}